<app-toolbar></app-toolbar>

<div class = "container" style = "margin-top: 30px;">
  <div class = "row">
    <div class = "col s12 m4 l3">
      <app-side></app-side>
    </div>

    <div class = "col s12 m8 l9">
      <div class = "row">


          <div id="streams" class = "col s12">
              <div class="row">
                    <div class = "col s12 m12 l10">
                      <div class = "card postDiv">
                        <div class="card-content">
                            <form [formGroup]="postForm" novalidate (ngSubmit)="SubmitPost()">
                                <div class = "formDiv">


                                    <p>City Name</p>
                                    <div class="input-field col s12" *ngIf="city">
                                        <input formControlName="cityName" value="{{city.cityName}}" id="cityName" type="text" class="validate">

                                      </div>


                                      <p>City Description</p>
                                      <div class="input-field col s12" *ngIf="city">
                                          <input formControlName="cityDescription" value="{{city.cityDescription}}" id="cityDescription" type="text" class="validate">

                                        </div>


                                




                                          <p>City Image</p>
                                          <div class="card-image" *ngIf="city">
                                               <img src="https://thumbor.forbes.com/thumbor/1280x868/https%3A%2F%2Fblogs-images.forbes.com%2Fannabel%2Ffiles%2F2018%2F02%2FLouisville_Skyline-1200x801.jpg">

                                          </div>

                                </div>

                                <div class = "col s12" style = "padding-left:50%;">
                                    <button class = "btn postBtn">
                                          Edit City
                                    </button>
                                </div>
                            </form>
                        </div>
                      </div>
                    </div>
                  </div>


          </div>


      </div>

    </div>
  </div>
</div>
